#messages-container{
    border: 2px solid #0D1324;
    width: 80%;
    margin: 0 auto;
    margin-top: 6rem;
    min-height: 500px;
    border-radius: 13px;
    background: #202124;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 3rem;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

#send-message {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#message-box {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 12px;
    padding: 12px;
    margin: 21px auto;
    border-radius: 12px;
    background: #0D1324;
    background: black;
    font-family: "silkR";
}

#message {
    color: white;
    display: flex;
    align-items: center;
}