.room-div{
    background-size: repeat;
    overflow:auto;
}
.roomfront-div{
    width: 50%;
    margin: auto;
    margin-top: 3%;
}
.roomback-div{
    background: rgba(255,255,255,0);
    border-bottom-right-radius:3rem ;
    border-bottom-left-radius:3rem ;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255,255,255,0.3);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    margin:10px 40px auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

@media (max-width: 768px) {
    .roomfront-div{
        width: 90%;
      
    }
}